@charset "ISO-8859-1";

body{
	background-color: #eee;
	
}

.card-form{
	width: 25em;
	margin: 10px auto;
} 

.card{
	width: 25em;
	margin: 10px auto;
} 

.p-total{
	border-style: groove;
	width: 25em;
	margin: 50px auto;
	text-align:center;
	
}